<div class="container mt-3 p-3">
      <form (ngSubmit)="save()" 
          novalidate 
          [formGroup]="treForm">
          <aw-wizard navBarLayout="large-filled">
          
            <aw-wizard-step stepTitle="Dados Biograficos" >
              <div class="card">
                    <div class="card-header bg-primary text-light">
                        Dados Biograficos
                      </div>
             <div class="card-body">
                <div class="form-row ">
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Nome Completo</label>
                    <input type="text" class="form-control" id="validationTooltip01" 
                        placeholder="nome completo"  
                        formControlName="name"
                        [ngClass]="{'is-invalid':(treForm.get('name').touched || treForm.get('name').dirty) && !treForm.get('name').valid}">
                    <div class="invalid-tooltip" *ngIf="treForm.get('name').errors?.required">
                      preencher o campo nome
                    </div>
                    <div class="invalid-tooltip" *ngIf="treForm.get('name').errors?.minlength">
                      Nome tem que ter mais caracteres
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Nome Pai</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="nome pai" value="Otto" required formControlName="father_name">
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Nome Mae</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="nome mae" value="otta" required formControlName="mother_name">
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  </div>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip03">Nacionalidade</label>
                    <select class="custom-select" formControlName="nationality_id">
                        <option selected>Escolher Nacionalidade</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip04">Sexo</label>
                    <select class="custom-select" formControlName="sexo">
                        <option selected>Escolher Sexo</option>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid state.
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">Estado Civil</label>
                    <select class="custom-select" formControlName="marital_status">
                        <option selected>Escolher Estado Civil</option>
                        <option value="1">Solteiro</option>
                        <option value="2">Casado</option>
                        <option value="3">Divorciado</option>
                        <option value="2">Uniao Facto</option>
                        <option value="2">Viuvo</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid zip.
                    </div>      
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                    <label for="usr">Data Nascimento</label>
                    <input type="date" class="form-control" formControlName="birthday_date">
              </div>
            </div>
            </div>
        
            </div>
              <button class="btn btn-primary mt-3" awNextStep>Proximo</button>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Contactos" navigationSymbol="{ symbol: '&#xf2dd;' fontFamily: 'FontAwesome' }">
              <div class="card mt-2">
                <div class="card-header bg-primary text-light">
                  Contactos
                </div>
              <div class="card-body">
                  <div class="form-row">
                      <div class="col-md-4 mb-3">
                          <label for="validationTooltip03">Ilha</label>
                      <select class="custom-select" formControlName="island_id">
                        <option selected>Ilha</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label for="validationTooltip03">Concelho</label>
                      <select class="custom-select" formControlName="parish_id">
                        <option selected>Concelho</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                      </div>
                      <div class="col-md-4 mb-3">
                          <label for="validationTooltip03">Freguesia</label>
                      <select class="custom-select" formControlName="town_id">
                        <option selected>Freguesia</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Local</label>
                        <select class="custom-select" formControlName="address_id">
                          <option selected>Local</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      <div class="invalid-tooltip">
                        Please provide a valid city.
                      </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Zona</label>
                        <select class="custom-select" formControlName="locality_id">
                          <option selected>Zona</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      <div class="invalid-tooltip">
                        Please provide a valid city.
                      </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip01">Email</label>
                            <input type="email" class="form-control" id="validationTooltip01" placeholder="email@email.email" value="email@email.email" required formControlName="email">
                            <div class="valid-tooltip">
                              Looks good!
                            </div>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="col-md-4 mb-3">
                              <label for="validationTooltip01">Telefone</label>
                              <input type="tel" class="form-control" id="validationTooltip01" placeholder="telefone" value="telefone" required formControlName="tel">
                              <div class="valid-tooltip">
                                Looks good!
                              </div>
                            </div>
                      </div>
              </div>
            </div> 
              <button type="button" awPreviousStep>Go to previous step</button>
              <button type="button" awNextStep>Go to next step</button>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Dados Passaporte">
              <div class="card mt-2">
                <div class="card-header bg-primary text-light">
                  <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Dados Passaporte
                  </button>
                </div>
            <div class="card-body">
                <div class="form-row">
                  <div class="col-md-6 mb-6">
                      <label for="validationTooltip01">Passaporte Nº</label>
                      <input type="text" class="form-control" id="validationTooltip01" placeholder="passaporte" value="passaporte" required formControlName="passportNumber">
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                  </div>
                  <div class="col-md-6 mb-6">
                      <label for="usr">Emitido Em</label>
                      <input type="date" class="form-control" formControlName="issued_on">
                </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-6">
                        <label for="usr">Data Emissao</label>
                        <input type="date" class="form-control" formControlName="issuance_date">
                    </div>
                    <div class="col-md-6 mb-6">
                        <label for="usr">Data Validade</label>
                        <input type="date" class="form-control" formControlName="expiration_date">
                  </div>  
                </div>
          </div>
          </div> 
              <button type="button" awPreviousStep>Previous Step</button>
              <button type="button" (click)="finishFunction()">Finish</button>
            </aw-wizard-step>
            
           
          </aw-wizard>
           
          <button class="btn btn-primary mt-3" type="submit" [disabled]="!treForm.valid">Submit form</button>
      </form>
</div>

